
*{
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

body{
  background: #1F1F1F;
}

/* .App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

@font-face {
  font-family: "marvel";
  src: local("Marvel-Regular"),
    url("../fonts/Marvel-Regular.ttf") format("truetype");
}

.App-header{
  font-family: 'marvel';
  text-align: center;
  background-color: #E23636;
  color: white;

  padding: 20px;

  margin-bottom: 8px;
}

.App-header h3{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 60px;
}

/* Search Bar */

.search-container{

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  padding: 0 80px;

}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;

  width: 500px;
  margin-bottom: 30px;
  padding: 5px;

  background: transparent;
  border: none;
  border-bottom: 5px solid white;
}

.search-container input{
  background: transparent;
  border: none;
  color: white;

  text-align:left;
  padding-top: 22px;

  width: 100%;
  font-size: 18px;
}

.search-icon{
  color: white;
  padding-top: 20px;
  font-size: 25px;
}


.search-icon:hover{
  cursor: pointer;
}

/* End of Search bar */

.main-container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  padding: 0 55px;

  

  justify-content: center;
  align-items: center;
}

.comicItem{
  display: flex;
  flex-direction: column;

  height: 500px;
  width: 300px;
  margin: 20px;

  box-shadow: 5px 5px 20px black;

  overflow: hidden;
  position: relative;

}

.comicItem img{

  width: 300px;
  height: 500px;

  transition: .5s;
  
}

.comic-content{
  height: 70px;
  width: 300px;
  padding: 12px;

  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  transition: .5s;
  
  background: rgb(27,27,27,.5);
  color: white;
}

.card-header{
  margin-bottom: 5px;
}

.comic-content p, .seeMore a{
  visibility: hidden;
  opacity: 0;

  
}


/* MODAL */
/*  */

/* .modal_container{
  display: block;
  position: fixed;
  background-color: white;
  z-index: 3;
  overflow: hidden;
} */









/* HOVER EFFECTS */

.comicItem:hover{
  cursor: pointer;
}

.comicItem:hover .comic-content{
  height: 220px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.829);

  
}

.comicItem:hover .comic-content p{
  visibility: visible;
  opacity: 1;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  margin-bottom: 10px;
}

.comicItem:hover img{
  transform: scale(1.05);
}

.comicItem:hover .seeMore a{
  color: white;
  text-decoration: none;
  font-weight: bolder;

  visibility: visible;
  opacity: 1;
}